//This is the main styling file

@import "./variables.scss";
@import"../components/header/header.scss";
@import"../pages/home/home.scss";
@import"../pages/search/search.scss";
@import"../pages/about/about.scss";
@import"../components/footer/footer.scss";

//Mixins
@mixin small-phone {
    @media (max-width: 520px) {
      @content;
    }
  }
  
  @mixin phone {
    @media (max-width: 750px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 1100px) {
      @content;
    }
  }


*{
    box-sizing: border-box;
    margin:0;
}
html{
  scroll-behavior: smooth;
}
#root{
    height: 100%;
}
body{
    font-family:$navbar-font;
    width: 100%;
}