//Importing variables
@import "../../styles/variables";
.home{
    background-color: $dark-green-opacity;
    .home-header{
        background-image: url(../../components/img/shop5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .black-div{
            background-color:$dark-brown;
            color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 5%;
            width: 50%;
            border-radius: 20px;
        }
    }

}
